body {
    background-color: white;
}

a.button {
    padding: 7px 14px;
    border: 2.5px outset buttonborder;
    border-radius: 7px;
    color: 	white;
    background-color: #49acad;
    text-decoration: none;
    margin: 5px;
    display: inline-block;
    gap: 1px;
    
}

#myHeader {
    display: flex;                
    justify-content: space-between; 
    align-items: center;          
    height: 120px;
    background-color: transparent;
    color: black;
}

#container {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    background-color: whitesmoke;
    font-family: sans-serif;
    padding:10px
}

.grid-layout{
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 5px;
    justify-items: center;
    align-items: center;
}

.text-content{
    max-width: 600px;
    
}

.logo{
    width: 800px;
    height: 250px;
    scale: 50%;
    display: block;
    }

.customer-image{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin: auto;
    padding:0;
    justify-items: center;
}

.customer-list {
  margin-top: 20px;
}

.customer-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px 0;
  background-color: #f9f9f9;
  border-radius: 5px;
}